.ExpenseForm {
  padding: 3% 3% 0% 3%;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.ExpenseForm_InputsContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

.ExpenseForm_Container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.ExpenseForm_ButtonGroup {
  margin-block: 45px;
  display: flex;
  justify-content: space-evenly;
}

.ExpenseForm_ButtonGroup button {
  transition: 120ms ease-in-out;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #303030;
  font-weight: 600;
  font-size: 17px;
  border: 1px solid #c0c0c0;
  border-radius: 12px;
  text-transform: uppercase;
  height: 45px;
}

.ExpenseForm_Create:hover {
  transition: 120ms ease-in-out;
  transform: translateY(-1px);
  box-shadow: 1px 3px 9px #45454590;
}

.ExpenseForm_Edit:hover {
  transition: 120ms ease-in-out;
  transform: translateY(-1px);
  box-shadow: 1px 3px 9px #45454590;
}

.ExpenseForm_Delete:hover {
  transition: 120ms ease-in-out;
  transform: translateY(-1px);
  box-shadow: 1px 3px 9px #ff000072;
  background-color: #ff6363;
}

@media (641px <= width <= 1007px) {
  .ExpenseForm_Container input {
    width: 72%;
  }

  .ExpenseForm_ButtonGroup button {
    width: 45%;
  }
}

@media (width <= 640px) {
  .ExpenseForm {
    padding: 6% 3% 0% 3%;
  }

  .ExpenseForm_ButtonGroup {
    margin-block: 30px;
  }

  .ExpenseForm_Container input {
    width: 84%;
  }

  .ExpenseForm_Container select {
    width: 84%;
  }

  .ExpenseForm_ButtonGroup button {
    width: 48%;
  }
}
