.Chart {
  z-index: 0;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  margin-left: 9%;
}

@media (641px <= width <= 1007px)  {
  .Chart {
    margin-left: 12%;
  }
}

@media (width <= 640px) {
  .Chart {
    margin-left: 0;
    min-height: 100vh;
    height: fit-content;
    overflow-x: hidden;
  }
}