/*#region SIDEBAR */
.SideBar {
  height: 100vh;
  width: 9%;
  background-color: #f6f6f6;
}

.SideBar_List {
  height: 100%;
  list-style: none;
}

.SideBar_LogoContainer {
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SideBar_Logo {
  width: 81px;
  height: auto;
}

.SideBar_ListItem {
  transition: 90ms ease-in-out 0s;
  width: 100%;
  padding-block: 9px;
}

.SideBar_ListItem:hover {
  transition: 90ms ease-in-out 0s;
  background-color: #f3a0d033;
}

.SideBar_ListItemSelected {
  transition: 90ms ease-in-out 0s;
  width: 100%;
  padding-block: 9px;
  display: flex;
  justify-content: center;
  background-color: #f3a0d033;
  border-right: 3px solid #8c1d79;
  cursor: pointer;
}

.SideBar_Link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
/*#endregion */

/*#region FLOATINGNAV */
.FloatingNav {
  display: none;
}
/*#endregion */

@media (min-width: 641px) and (max-width: 1007px) {
  /*#region SIDEBAR */
  .SideBar {
    width: 12%;
  }

  .SideBar_LogoContainer {
    height: 15%;
  }

  .SideBar_Logo {
    width: 45px;
    height: auto;
  }

  .SideBar_Link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .SideBar_Link img {
    width: 36px;
    height: auto;
  }
  /*#endregion */
}

@media (max-width: 640px) {
  /*#region SIDEBAR */
  .SideBar {
    display: none;
  }
  /*#endregion */

  /*#region FLOATINGNAV */
  .FloatingNav {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  .FloatingNav_MenuContainer {
    z-index: 1;
    position: absolute;
    top: 18px;
    right: 18px;
    background-color: #f3a0d0;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 120px;
  }

  .FloatingNav_Menu {
    width: 45px;
    height: auto;
  }

  .FloatingNav_MenuOpt {
    transition: 300ms ease;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #8c1d79;
    overflow: hidden;
    padding-block: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    list-style: none;
  }

  .FloatingNav_MenuLink {
    font-size: x-large;
    font-weight: 500;
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: underline;
  }

  .FloatingNav_MenuLogoContainer {
    position: absolute;
    bottom: 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .FloatingNav_MenuLogoContainer span {
    font-size: 18px;
    color: white;
  }

  .FloatingNav_MenuLogo {
    filter: invert(100);
  }

  .FloatingNav_Close {
    position: absolute;
    top: 36px;
    right: 36px;
  }

  .FloatingNav_Close img {
    filter: invert(100);
  }
  /*#endregion */
}
