* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.linkA {
  text-align: left;
  font-size: 15px;
  color: #1976d2;
  text-decoration-color: #1976d260;
}

.linkA:hover {
  text-decoration-color: #1976d2;
}

.dashboardBody {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

.h1_container {
  padding: 7% 3% 0% 3%;
}

.page {
  z-index: 0;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  margin-left: 9%;
  overflow-y: auto;
}

@media (641px <= width <= 1007px) {
  .page {
    margin-left: 12%;
  }
}

@media (width <= 640px) {
  .page {
    margin-left: 0;
    min-height: 100vh;
    height: fit-content;
    overflow-x: hidden;
  }
}
