* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.linkA {
  text-align: left;
  font-size: 15px;
  color: #1976d2;
  text-decoration-color: #1976d260;
}

.linkA:hover {
  text-decoration-color: #1976d2;
}

.dashboardBody {
  width: 100%;
  display: flex;
  position: relative;
}