.main {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  background: url("/img/waves.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_left {
  min-height: 100vh;
  height: fit-content;
  width: 36%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0px 21px 21px 0px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  display: flex;
  align-items: center;
}

.main_right {
  min-height: 100vh;
  height: fit-content;
  width: 64%;
  display: flex;
  align-items: center;
}

.main_rightTitleContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_rightTitle {
  font-size: 1.7em;
  font-weight: 700;
  text-align: center;
  text-wrap: pretty;
  color: black;
  padding-inline: 9%;
  padding-bottom: 15px;
}

.main_rightImg {
  width: 51%;
  height: auto;
}

@media (641px <= width <= 1007px) {
  .main {
    min-height: 100vh;
  }

  .main_left {
    width: 100%;
    border-radius: 0px;
  }

  .main_right {
    width: 0%;
    display: none;
  }
}

@media (width <= 640px) {
  .main {
    min-height: 100vh;
    height: fit-content;
  }

  .main_left {
    width: 100%;
    border-radius: 0px;
  }

  .main_right {
    width: 0%;
    display: none;
  }
}
