.main {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
}

.main_left {
  height: 100%;
  width: 36%;
  background-color: #69057136;
}

.main_right {
  height: 100%;
  width: 64%;
  background-color: #f5f5f5;
}

.main_rightTitleContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_rightTitle {
  font-size: 1.4em;
  font-weight: 600;
  text-align: center;
  text-wrap: pretty;
  color: black;
  padding-inline: 9%;
  padding-bottom: 15px;
}

.main_rightImg {
  width: 51%;
  height: auto;
}

@media (min-width: 641px) and (max-width: 1007px) {
  .main {
    height: 102vh;
  }

  .main_left {
    width: 100%;
  }

  .main_right {
    width: 0%;
    display: none;
  }
}

@media (max-width: 640px) {
  .main {
    height: 102vh;
  }

  .main_left {
    width: 100%;
  }

  .main_right {
    width: 0%;
    display: none;
  }
}
