.Movements_Container {
  padding: 1.5% 3% 0% 3%;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}

.Movements_MovContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.Movements_MovTitleContainer {
  width: 100%;
  border-bottom: 3px solid gainsboro;
}

.Movements_MovTitle {
  padding-left: 15px;
  font-size: 24px;
  font-weight: 400;
  color: #1976d2;
  text-decoration-color: #1976d260;
}

.Movements_MovTitle:hover {
  text-decoration-color: #1976d2;
}

.Movements_Movements {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.Movements_InputContainer {
  padding: 1% 3% 0% 3%;
}

@media (641px <= width <= 1007px) {
}

@media (width <= 640px) {
  .Movements_Container {
    padding: 4.5% 3% 0% 3%;
  }

  .Movements_MovTitle {
    font-size: 23px;
  }

  .Movements_DateSeparator {
    font-size: 13px;
  }

  .Movements_Input {
    width: 45%;
  }
}
